.layout {
  min-height: 100vh;
  background: #f9fafb;
}

.layout-content {
  padding: 24px;
}
body {
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
  background: #f9fafb;
}
.dashboard-container {
  height: calc(100vh - 96px); /* topbar height */
  display: flex;
  flex-direction: column;
}
