.login-wrapper {
  height: 100vh;
  background: linear-gradient(135deg, #dff9f7 0%, #c7f1ee 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* shift card slightly right like figma */
.login-card {
  transform: translateX(420px);
}


.login-card {
  width: 340px;
  height:540px;
  font-family: "SF Pro Display",sans-serif;
  background: #ffffff;
  border-radius: 20px;
  padding: 36px 36px 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
}


.login-logo {
  width: 200px;
  margin-bottom: 1px;
}

.welcome-text {
  font-family: "SF Pro Display", sans-serif;
  color: #30B4A9;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 300;
  
}

.subtitle {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  color: #2E2E2E;
  font-weight: 600;
  position: left;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 50px;
}

.role-toggle {
  display: flex;
  gap: 8px;
  margin-bottom: 22px;
   justify-content: flex-start;
   width: 190px; 
}

.role-btn {
  flex: 1;
  width: 30px;
  height: 34px;
  border-radius: 20px;
  border: 1px solid #d1d5db;
  background: #ffffff;
  color: #aeaeae;
  cursor: pointer;
  display: flex;
  position: left;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  justify-content: flex-start;
  padding-left: 7px;
  
}

.role-btn img {
  width: 16px;
}

.role-btn.active {
  background: #e6fffb;
  border-color: #2bb3b1;
  color: #2bb3b1;
}
.role-btn.active img {
background: #e6fffb;
  border-color: #2bb3b1;
  color: #2bb3b1;
}



.input-group {
  text-align: left;
  margin-bottom: 16px;
}

.input-group label {
  font-family: "SF Pro Display", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #374151;
  padding-left: 10px;
}

.input-group input {
  width: 90%;
  height: 40px;
  padding: 0 16px;
  border-radius: 22px;
  border: 1px solid #e5e7eb;
  outline: none;
  margin-top: 6px;
  font-size: 14px;
}


.login-btn {
  font-family: "SF Pro Display", sans-serif;
  width: 100%;
  height: 48px;
  background: #2bb3b1;
  color: white;
  border: none;
  border-radius: 24px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 18px;
}


.error-text {
  font-family: "SF Pro Display", sans-serif;
  color: red;
  font-size: 13px;
  margin-bottom: 8px;
}
